<form name="forma" method="post">
    Nombre: <input type="text" id="nombre" /><br />
    Descripción: <input type="text" id="descripcion" /><br />    
    <input type="submit" onclick="sending(event,1)" /><br />
</form>

<script>

function sending(evt, numero){
    evt.preventDefault();

    var data = {
        nombre: $("#nombre").val(),
        descripcion: $("#descripcion").val(),        
    }
    $.ajax({
        type: 'POST',
        url: 'http://localhost:3000/metas/agregarMeta',
        data: data,
        dataType: 'json',
        success: function(data){
            window.location.href = "/metas";
            alert("Meta agregada correctamente");
        },
        error: function(){
            console.log("ERROR");
        }
    });
}
</script>
