
<form name="forma" method="post" class="col-md-6 col-md-offset-3">
    User: <input type="text" id="user" class="form-control" required/><br /> Password: <input class="form-control" type="password" id="password" required/><br />
      <p>Porfavor seleccione una contraseña de al menos 8 caracteres con al menos una letra y un numero</p>
      Email: <input type="text" id="email" class="form-control" required/><br />
      Profile Pic: <input type="file" id="image" name="image" class="form-control" /><br />
    <h4 id="password-strength" style="color:red;"></h4>
    <input type="submit"  class="btn btn-default" id="submit"/><br />
</form>

<script src="/javascripts/bloomfilter.js"></script>

<script>
    function strength_check(password) {
        // Check for passwords that atleast contain a number and an alphabet,
        // or if alphabets, then atleast 12 characters long
        var regex = new RegExp('((?=.*[a-zA-Z])(?=.*[0-9])[A-Za-z0-9!@#$%^&*()_+ ]{8,12})|([A-Za-z0-9!@#$%^&*()_+ ]{12,})');
        return regex.test(password);
    }
    $(document).ready(function () {
        var bloom;
        var bool = true;
        var strong = false;
        $.ajax({
            method: 'GET',
            dataType: 'json',
            url: '/javascripts/bloomdata_short_pwd.js',
            error: function (jqxhr, status, err) { alert(status + ' ERROR ' + err); }
        }).done(function (res) {
            bloom = new BloomFilter(res, 8);

        });
        $('#submit').click(function (e) {
            var password = $('#password').val();
            e.preventDefault();
            strong = strength_check(password.toString());
            if (strong) {
                // Only if the password has a chance of being strong do we check with the bloom filter
                // else, simply reject the password. This helps us to not store all-alpha or all-numeric passwords
                // on the bloom filter, reducing space.
                bool = bloom.test(password);
            } else {
                bool = true;
                //alert('La contraseña no cumple con los estándares de seguridad.');
                $("#password-strength").text('La contraseña debe de contener 8 caracteres y al menos un número y una letra.');
            }
            if (!bool) {
                //alert("La contraseña es aceptada");
                //$("#password-strength").text("La contraseña es aceptada");
                sending();
            } else {
                //alert("La contraseña introducida es considerada débil");
                $("#password-strength").text("La contraseña introducida es considerada débil por nuestro sistema.");
            }
        });
    });
    function sending() {
        var dataForm = new FormData();
        dataForm.append('user',$("#user").val());
        dataForm.append('password',$("#password").val());
        dataForm.append('email',$("#email").val());
        dataForm.append('image',$('input[type=file]')[0].files[0]);

        for (var pair of dataForm.entries()) {
    console.log('Pairs: '+pair[0]+ ', ' + pair[1]); 
}
        var data = {
            user: $("#user").val(),
            password: $("#password").val(),
            email: $("#email").val(),
            image: $("#image"),
        }
        $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/users/agregarUsuario',
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (data) {
                window.location.href = "/";
                alert("Usuario agregada correctamente");
            },
            error: function () {
                console.log("ERROR");
            }
        });
    }

</script>
