<form name="forma" method="post">
    Nombre: <input type="text" id="nombre" value="{{aviones.nombre}}" /><br />
    Marca: <input type="text" id="marca" value="{{aviones.marca}}" /><br />
    Motor: <input type="text" id="motor" value="{{aviones.motor}}" /><br />
    <input type="submit" onclick="sending(event,{{aviones.id}})" /><br />
</form>

<script>

function sending(evt, id){
    evt.preventDefault();

    var data = {
        nombre: $("#nombre").val(),
        marca: $("#marca").val(),
        motor: $("#motor").val(),
    }
    $.ajax({
        type: 'PUT',
        url: `http://localhost:3000/aviones/editarAvion/${id}`,
        data: data,
        dataType: 'json',
        success: function(data){
            window.location.href = "/aviones";
            alert("Avion editada correctamente");
        },
        error: function(){
            console.log("ERROR");
        }
    });
}
</script>
