<form name="forma" method="post">
    Nombre: <input type="text" id="nombre" value="{{coches.nombre}}" /><br />
    Modelo: <input type="text" id="modelo" value="{{coches.modelo}}" /><br />
    Año: <input type="number" id="anio" value="{{coches.anio}}" /><br />
    <input type="submit" onclick="sending(event,{{coches.id}})" /><br />
</form>

<script>

function sending(evt, id){
    evt.preventDefault();

    var data = {
        nombre: $("#nombre").val(),
        modelo: $("#modelo").val(),
        anio: $("#anio").val(),
    }
    $.ajax({
        type: 'PUT',
        url: `http://localhost:3000/coches/editarCoche/${id}`,
        data: data,
        dataType: 'json',
        success: function(data){
            window.location.href = "/coches";
            alert("Coche editada correctamente");
        },
        error: function(){
            console.log("ERROR");
        }
    });
}
</script>
