<form name="forma" class="col-md-6 col-md-offset-3" method="post">
    Nombre: <input class="form-control" type="text" id="nombre" value="{{metas.nombre}}" /><br />
    Descripción: <input class="form-control"  type="text" id="descripcion" value="{{metas.descripcion}}" /><br />    
    <input type="submit" class="form-control" onclick="sending(event,{{metas.id}})" /><br />
</form>

<script>

function sending(evt, id){
    evt.preventDefault();

    var data = {
        nombre: $("#nombre").val(),
        descripcion: $("#descripcion").val(),        
    }
    $.ajax({
        type: 'PUT',
        url: `http://localhost:3000/metas/editarMeta/${id}`,
        data: data,
        dataType: 'json',
        success: function(data){
            window.location.href = "/metas";
            alert("Meta editada correctamente");
        },
        error: function(){
            console.error("ERROR");
        }
    });
}
</script>
