<div class="container">
<p>{{msg}}</p>
    <h1>Segunda Entrega Parcial</h1>
  {{#if session}}
    <h1>Bienvenido {{session}}</h1>
    <a href="/users/editarUsuario" class="btn btn-primary">Editar Usuario</a><br/>
  {{/if}}
</div>
