<h1>Metas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>            
        </tr>
    </thead>
    <tbody>
        {{#each metas}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{descripcion}}</td>            
            {{#if session}}
            <td>
                <button type="button" class="btn btn-primary" aria-label="Left Align" onclick="editP({{id}})">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger" aria-label="Left Align" onclick="deleteP(event,{{id}})">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <div class="clearfix"></div>
            </td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="col-md-4">
    <a href="/metas/agregarMeta" class="btn btn-default">Agregar meta</a>
</div>
<script>
function deleteP(evt, id){
    evt.preventDefault();
    var data = { id: id }
    $.ajax({
        type: 'DELETE',
        url: 'http://localhost:3000/metas',
        data: data,
        dataType: 'json',
        success: function(data){
            window.location.href = "/metas";
            alert("Meta eliminada correctamente");
        },
        error: function(){
            console.log("ERROR");
        }
    });
}
function editP(id){
    window.location.href = `/metas/editarMeta/${id}`;
}
</script>
